.toolbox_extension_container {
  position: absolute !important;
  background-color: #000 !important;
  color: #fff !important;
  border-radius: 8px !important;
  box-sizing: border-box !important;
  z-index: 999999999999 !important;
  display: none;
  padding: 13px !important;
}

.toolbox_extension_container .toolbox_extension_tools {
  display: grid !important;
  grid-template-columns: repeat(4, 1fr) !important;
  gap: 5px !important;
}

.toolbox_extension_container .toolbox_extension_tool_btn {
  width: 25px !important;
  height: 25px !important;
  background: #f4f4f4 !important;
  border: none !important;
  cursor: pointer !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  border-radius: 5px !important;
}
